{% extends "layout.html" %}

{% block content %}
    <h2>Global sales</h2>
    <row>
        <form method="POST">
            <input type="number"  class="input" name="quantidade" placeholder="Quantidade que deseja" autocomplete="off" autocomplete="off">
            <button type="submit" class="botão">Lets see</button>
        </form> 
        <div class="card shadow-sm sombra">
            <div class="list-group list-group-flush">
                {% for i in jogos_global%}
                <div class="list-group-item d-flex justify-content-between align-items-center lista">
                    <span>{{ i[0] }}</span>
                    <span class="badge bg-primary rounded-pill">
                        {{ i[1] }} milhões
                    </span>
                </div>
                {% endfor %}
             </div>   
        </div>  
            {% if erro %}
                <p style="color: red;">{{ erro }}</p>
            {% endif %}
            
        
    </row>
{% endblock %}